@import url('reset.css');
@import url('commons.css');

/* 헤더메뉴바 position으로 할때 스크롤해도 따라다니는 방법 = sticky를 이용 section {position: sticky;}*/
/* p.262 다시하기 */
.skipnavi {
  position: absolute;
  left: 0;
  top: -50px;
  text-indent: -9999px;
  font-size: 0;
  width: 100%;
  z-index: 999;
}

.skipnavi li a:focus,
.skipnavi li a:active {
  position: absolute;
  left: 0;
  top: 100px;
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  text-indent: 0px;
  font-size: 2rem;
  font-weight: bold;
  background: chocolate;
}

/* navi(메뉴) */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  position: sticky;
  top: 0;
}

.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb li {
  margin: 0 20px;
}

.btn {
  font-size: 2rem;
  cursor: pointer;
  margin-top: 20px;
}

.video-po {
  width: 100%;
  overflow: hidden;
}

.video {
  width: 1903px;
}

section {
  position: relative;
}

.video-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section01 {
  width: 100%;
  height: 100vh;
}

.video-bg:hover {
  display: none;
}

.video-bg h1,
p {
  color: #fff;
  font-size: 4rem;
  margin: 20px;
}

iframe {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-title {
  font-size: 4rem;
  font-weight: 100;
  color: #fff;
}

/* section02 */
.section02 {
  padding: 20px 0;
}

.product-text {
  padding: 20px 0;
}

.product-main {
  overflow: hidden;
  background-color: #FFEBCD;
  margin: 0 10px;
}

.product-main img {
  transition: all .3s;
}

.product-main img:hover {
  transform: scale(1.2);
}

/* section3 style*/
.section3 {
  background-color: #333;
}

.sec03-title {
  color: red;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 30px;
}

/* 비디오 셋팅다시하기 */
.video-main {
  overflow: hidden;
  margin: 0 10px;
}

.video-main img {
  transition: all .3s;
  background-size: cover;
}

.video-main img:hover {
  transform: scale(1.2);
}

/* .video-main .modal-pop {
width: 1280px;
height: 720px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background-color: rgba(0, 0, 0, 0, 0.3);
display: none;
} */

/* .video-main a span .video-close:active {
font-size: 3rem;
color: #333;
cursor: pointer;
} */

@media(min-width:767px) {
  .btn {
    display: none;
  }
}

@media(max-width:767px) {
  .gnb {
    display: none;
  }
}


.slider-bg img {
  width: 100%;
}


.modal {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  top: 0;
  left: 0;
  display: none;
}

.modal video {
  width: 50%;
  position: relative;
  left: 27%;
  top: 200px;
}

.modal-header {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 25%;
}

.modal>.close {
  color: #aaa;  
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 150px;
  right: 20%;
}

.modal .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.slider {
  position: relative;
}

.slider button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: rgba(0, 0, 0, .5);
  border: none;
}

.slider button::before {
  font-family: "xeicon";
  color: #fff;
  font-size: 50px;
}

.slider button.slick-prev {
  left: -100px;
  font-size: 0;
  color: transparent;
}

.slider button.slick-prev::before {
  content: "\e93d";
}

.slider button.slick-next {
  right: -100px;
  font-size: 0;
  color: transparent;
}

.slider button.slick-next::before {
  content: "\e940";
}